# Server-side secret variables

# # Frame metadata, required to allow users to add your frame
FARCASTER_HEADER=
FARCASTER_PAYLOAD=
FARCASTER_SIGNATURE=

# # Redis config, required for webhooks and background notifications
REDIS_TOKEN="your_redis_token"
REDIS_URL="redis://default:your_redis_token@your_redis_host:your_redis_port"

# Client-side exposed variables (NEXT_PUBLIC_)

# # Shared/OnchainKit variables
NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME="Pool"
NEXT_PUBLIC_VERSION="next"
NEXT_PUBLIC_URL="https://pool-mini.vercel.app"

NEXT_PUBLIC_ICON_URL="$NEXT_PUBLIC_URL/icon.png"
NEXT_PUBLIC_ONCHAINKIT_API_KEY="your_onchainkit_api_key"

# # Frame metadata, required to allow users to add your frame

NEXT_PUBLIC_APP_DESCRIPTION="Pool is a tool that allows multiple frens to create, manage, and spend a shared pool of funds"
NEXT_PUBLIC_APP_HERO_IMAGE="$NEXT_PUBLIC_URL/logo.png"
NEXT_PUBLIC_APP_ICON="$NEXT_PUBLIC_URL/icon.png"

NEXT_PUBLIC_APP_OG_DESCRIPTION="🏝️ A Better Way to Pool Funds"
NEXT_PUBLIC_APP_OG_IMAGE="$NEXT_PUBLIC_URL/cover.png"
NEXT_PUBLIC_APP_OG_TITLE="Pool"

NEXT_PUBLIC_APP_PRIMARY_CATEGORY="Payments"
NEXT_PUBLIC_APP_SPLASH_IMAGE="$NEXT_PUBLIC_URL/splash.png"
NEXT_PUBLIC_APP_SUBTITLE="🏝️ A Better Way to Pool Funds"
NEXT_PUBLIC_APP_TAGLINE="Pool is a tool that allows multiple frens to create, manage, and spend a shared pool of funds"
NEXT_PUBLIC_SPLASH_BACKGROUND_COLOR="#4C6FFF"

# # Onchain deployments
NEXT_PUBLIC_POOL_CONTRACT_BASE_SEPOLIA="0xD571c6e319D13637A1DfF6F6e9fdb8d2803af3aE"
NEXT_PUBLIC_POOL_CONTRACT_BASE="0xA2cD9Ccd89C3c8760A701DaDD11174393443E495"
NEXT_PUBLIC_TOKEN_CONTRACT_BASE_SEPOLIA="0x1bdffEBF62E16660d01e805F3529eBA1B982a864"
NEXT_PUBLIC_TOKEN_CONTRACT_BASE="0xbCEa52D097ae1189A22bdFbf67303082E7b8b07E"
NEXT_PUBLIC_USDC_CONTRACT_BASE="0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"

NEXT_PUBLIC_BASE_MAINNET_RPC_URL="https://mainnet.base.org"
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL="https://sepolia-preconf.base.org"
NEXT_PUBLIC_BASE_MAINNET_EXPLORER_URL="https://basescan.org"
NEXT_PUBLIC_BASE_SEPOLIA_EXPLORER_URL="https://sepolia.basescan.org"

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""

# Local environment

REACT_EDITOR="cursor"
NODE_ENV="development"

# To skip environment variable validation (useful for Docker builds or CI)
# SKIP_ENV_VALIDATION=true